body {
    font-family: Arial, sans-serif;
    background-color: #dcdee2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="tel"],
  form input[type="email"],
  form textarea,
  form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ada8a8;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .gender {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #1d3fd8;
    color: rgb(236, 231, 231);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #c4a7e9;
  }
  